img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

p{
    font-size: 18px;
    padding: 1rem 0;
}

@media screen and (max-width: 768px) {
    img {
        width: 100%;
    }
    h1{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
}
    